@tailwind base;
@tailwind components;
@tailwind utilities;


/* header */
.btn{
  cursor: pointer;
  padding: 7px 24px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #46c565;
  border-radius: 96px;
  transition: all 0.4s ;
  -webkit-transition: all 0.4s ;
  -moz-transition: all 0.4s ;
  -ms-transition: all 0.4s ;
  -o-transition: all 0.4s ;
}
@media (max-width:797px) {
  .btn{
    padding: 3px 8px;
    font-size: 14px;
  }
}
button.prim{
  color: white;
  background-color:  #46c565;
}
button:hover{
  color: white;
  background-color:  #46c565;
}
/* header */
/* Hero */
/* Hero  */