@tailwind base;
@tailwind components;
@tailwind utilities;


/* header */
.btn{
  cursor: pointer;
  padding: 7px 24px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #46c565;
  border-radius: 96px;
  transition: all 0.4s ;
  -webkit-transition: all 0.4s ;
  -moz-transition: all 0.4s ;
  -ms-transition: all 0.4s ;
  -o-transition: all 0.4s ;
}
@media (max-width:797px) {
  .btn{
    padding: 3px 8px;
    font-size: 14px;
  }
}
button.prim{
  color: white;
  background-color:  #46c565;
}
button:hover{
  color: white;
  background-color:  #46c565;
}

.icon{
  border-width: 15px;
  position: relative;
  cursor: pointer;
  border-color: rgb(49, 80, 255) transparent transparent transparent;
  border-radius: 3px;
  bottom: -7.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.menu{
  transition:  0.5s;
  -webkit-transition:  0.5s;
  -moz-transition:  0.5s;
  -ms-transition:  0.5s;
  -o-transition:  0.5s;
  box-shadow: 1 1 1 inset;
  top: -280px;
  left: 0px;
  position: absolute;
  width: 100vw;
  background-color: antiquewhite;
  box-shadow: 0px 14px 11px 0px #00000054;
}
.menu.active{
  top: 80px;  
}
.target{
  transition:  all 0ms cubic-bezier(.645, .045, .355, 1);
  -webkit-transition:  all 0ms cubic-bezier(.645, .045, .355, 1);
  -moz-transition:  all 0ms cubic-bezier(.645, .045, .355, 1);
  -ms-transition:  all 0ms cubic-bezier(.645, .045, .355, 1);
  -o-transition:  all 0ms cubic-bezier(.645, .045, .355, 1);
  border-radius: 50%;
  background-color: rgb(74, 74, 255);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
  height:  40px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: flex;

}
.target.active{
  opacity: 1;
}
/* header */
/* curser */
.curser{
  background-color: rgb(243, 255, 79);
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* curser */
/* Hero */
/* Hero  */

/* card */
.card{
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  background-color: #cecece81;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.image{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card:hover .image{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.info {
  background-color: #e6e6e6;
  z-index: 100;
}
/* card */
.popup{
  position: relative;
  bottom:100% ;
  left: 15%;
  z-index: 100;
  transition: 0.5s;
  transform: scale(0);
  background-color: rgb(238, 230, 211);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.popup.active{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}